body {
  background-color: #7fffd4
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #533E85;
  width: 10%;
}

h1 {
  color: #8A39E1;
}

h3 {
  color: #ff1493;
}
